@model Vidly.ViewModels.NewMovieViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit a movie</h2>
@using (@Html.BeginForm("Edit", "Movies"))
{
    @Html.Partial("Shared/_MoviesForm",Model)
    <!-- Send hidden field w/ ID -->
    @Html.HiddenFor(c => c.Movie.Id)
}
