@using Vidly.Models
@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>


<table class="table table-bordered table-hover">
    <thead>
    <tr>
        Movie Title
    </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {

            <tr>
                @*Add action links to movie page*@
                @*<td>@movie.Name</td>*@
                <td>
                    @Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)
                </td>
            </tr>


        }
    </tbody>

</table>

