@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (Model.Any()) 
{ 
    <table class="table table-bordered table-hover">
        <thead><tr>Name</tr></thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)
                    </td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
   <p>There are no customers yet</p>
}