@model dynamic

@{
    ViewBag.Title = "New Rental Form";
    //We can delete layout line here becasue
    //there's a default value for it in _viewstart
}

<h2>New Rental Form</h2>
<form >
    <div class="form-group">
        <label>Customer</label>
        <input id="customers" type="text" value="" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Movie</label>
        <input id="movies" type="text" value="" class="form-control"/>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
@section scripts
{
    <script>
        $(document).ready(function () {
            var vm = {};
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customers').typeahead({
                minLength: 3,
                highlight: true
            },
            {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select",function(e, customer) {
                vm.CustomerId = customer.id;
            });
            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });



            $('#movies').typeahead({
                minLength: 3,
                highlight: true
            },
            {
               name: 'movies',
               display: 'name',
               source: movies
           }).on("typeahead:select", function (e, movie) {
                vm.MovieId = movie.id;
            });
        });
    </script>
}
